@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Arbutus+Slab&family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lobster&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

.Contacts_background{
    width: 100%;
    min-height: 100vh;
    background-color:rgb(56, 27, 38);
}

.Contacts_background_2{
    width: 100%;
    min-height: 65vh;
    background-color: rgb(56, 27, 38);
    border-top: 1px rgb(125, 49, 28) solid;
}

header {
    width: 90%;
    height: 19vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 175px;
    width: 360px;
    position: absolute;
    top: 8px;
    left: 100px;
    cursor: pointer;
}

.navbar {
    justify-content: space-around;
    gap: 30px;
    display: flex;
    align-items: center;
}

.buttony {
    color: rgb(200, 217, 232);
    text-decoration: none;
    font-size: 1.5em;
    margin-top: 35px;
    cursor: pointer;
    position: relative;
}

.buttony::after {
    content: "";
    background-color: rgb(186, 99, 99);
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: 0.4s;
    height: 3px;
    width: 0;
}

.buttony:hover::after {
    width: 100%;
}

.Vedoucí_restaurace{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 80px;
}

.Fotka_V1, .Fotka_V2, .Fotka_V3{
    height: 300px;
    width: 320px;
    background-color: rgb(158, 149, 149);
    border-radius: 8px;
    box-shadow: 0px 0px 10px 4px black ;
    display: flex;
    flex-direction: column;
}

.Informace_1, .Informace_2, .Informace_3{
    text-align: center;
    color: aliceblue;
    margin-top: 10px;
}

.Majitele{
    text-shadow: 0px 0px 5px rgb(219, 192, 15);
}

.Zheng, .Pepík, .Martin{
    margin-top: 16px;
    font-size: 1.4em;
    color: rgb(168, 44, 44);
    text-shadow: 6px 6px 15px black;

}

.Footer_Konec{
    width: 100%;
    height: 35vh;
    background-color: rgb(72, 42, 54);
}

.Kocka_btn img{
    height: 142px;
    width: 280px;
    margin-left: 120px;
    position: relative;
    left: -50px;
}

.Footer_Konec_2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px grey solid;
    margin-left: 120px;
    width: 82vw;
}

.Socials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Socials_2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Cislo_Mail{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.icon{
    margin-left: 20px;
    font-size: 1.9em;
    text-decoration: none;
}

.Kontakt_2{
    font-size: 1.1em;
    margin: 10px 0px 0px 30px;
    color: rgb(253, 253, 253);
}

.fa-instagram{
    color: rgb(153, 147, 147);
}

.fa-facebook{
    color: rgb(153, 147, 147);
}

.fa-square-x-twitter{
    color: rgb(153, 147, 147);
}

.fa-youtube{
    color: rgb(153, 147, 147);
}

.fa-instagram:hover{
    color: #c13584;
    transition: 0.5s;
}

.fa-facebook:hover{
    color:rgb(64, 64, 218);
    transition: 0.5s;
}

.fa-youtube:hover{
    color: rgb(198, 55, 55);
    transition: 0.5s;
}

.fa-square-x-twitter:hover{
    color: black;
    transition: 0.5s;
}

.Konec{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.Konec_2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 72%;
    margin-top: 5px;
}

.Konec_2 a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

.Konec_2 a:hover{
    color: #c73085;
    transition: 0.2s;
    letter-spacing: 0.1em;
}

.Menu_Footer{
    margin-top: 5px;
}

.Copyright{
    font-size: 1.2em;
    color: white;
}

.fa-envelope{
    color: rgb(205, 210, 214);
    text-decoration: none;
    margin-right: 5px;
}

.fa-phone{
    margin-right: 5px;
}

.Udaje{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    text-align: left;
    margin-left: 30px;
    font-family: "Arbutus Slab", serif;
}   

.Udaje p{
    margin-top: 10px;
    font-size: 1.1em;
}

.Udaje_2{
    font-size: 0.8em;
}

#C_B_2{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.C_B_2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.Nadpis_con{
    text-align: start;
    margin-top: 20px;
    font-size: 2em;
}

.Zajem_1{
    color: rgb(202, 156, 19);
    text-shadow: 1px 1px 5px rgb(216, 33, 33);
    margin-left: 80px;
    width: 56vw;
}

.Zajem_2{
    font-size: 3em;
}

.contact{
    margin-top: 20px;
    color: white;
    font-size: 1.5em;
    margin-left: 60px;
}

.Kontaktování{
    margin-top: 45px;
}

.Zde_psat{
    font-size: 2.5em;
    color: rgb(202, 156, 19);
    text-shadow: 1px 1px 5px rgb(216, 33, 33);
}

.formulář{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.Kontakt_zde{
    height: 53vh;
    width: 33%;
}

input{
    padding: 15px 50px 18px 5px;
    margin-top: 15px;
    border-radius: 8px;
    background-color: rgba(128, 41, 41, 0.973);
    color: white;
    font-size: 0.9em;
    box-shadow: 0px 0px 8px 2px rgb(154, 91, 24);
    outline: none;
    transition: .5s;
    border: none;
}

input:focus{
    border: 0px solid red;
    box-shadow: 2px 3px 10px 0px orangered , -2px -3px 10px 0px orangered;;
    
}

textarea{
    padding: 10px 20px 65px 5px;
    margin-top: 15px;
    resize: none;
    border: none;
    border-radius: 10px;
    background-color: rgba(128, 41, 41, 0.973);
    color: white;
    font-size: 1.3em;
    outline: none;
    transition:.5s;
    box-shadow: 0px 0px 8px 2px rgb(154, 91, 24);
    
}

textarea:focus{
    border: 0px solid red;
    box-shadow: 2px 3px 10px 0px orangered , -2px -3px 10px 0px orangered;;
}
