@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Arbutus+Slab&family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lobster&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.Contacts_background{
    width: 100%;
    min-height: 105vh;
    background-color:rgb(56, 27, 38);
}

.Contacts_background_2{
    width: 100%;
    min-height: 65vh;
    background-color: rgb(56, 27, 38);
    border-top: 1px rgb(125, 49, 28) solid;
}

header {
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header img {
    height: 175px;
    width: 360px;
    position: absolute;
    top: 8px;
    left: 100px;
    cursor: pointer;
}

.headers {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 5px;
    width: 100%;
    height: 18vh;
    padding: 20px 10px 20px 10px;
}

.navbar {
    justify-content: space-around;
    gap: 30px;
    display: flex;
    align-items: center;
    margin-left: 640px;
    margin-bottom: 2px;
}

.buttony {
    color: rgb(200, 217, 232);
    text-decoration: none;
    font-size: 1.5em;
    margin-top: 35px;
    cursor: pointer;
    position: relative;
}

.buttony::after {
    content: "";
    background-color: rgb(186, 99, 99);
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: 0.4s;
    height: 3px;
    width: 0;
}

.buttony:hover::after {
    width: 100%;
}

.Vedoucí_restaurace{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 30px;
}

.Fotka_V1, .Fotka_V2, .Fotka_V3{
    height: 300px;
    width: 320px;
    background-color: rgb(158, 149, 149);
    border-radius: 8px;
    box-shadow: 0px 0px 10px 4px black ;
    display: flex;
    flex-direction: column;
}

.Informace_1, .Informace_2, .Informace_3{
    text-align: center;
    color: aliceblue;
    margin-top: 10px;
}

.Majitele{
    text-shadow: 0px 0px 5px rgb(219, 192, 15);
}

.Zheng, .Pepík, .Martin{
    margin-top: 16px;
    font-size: 1.4em;
    color: rgb(168, 44, 44);
    text-shadow: 6px 6px 15px black;

}

.Footer_Konec{
    width: 100%;
    height: 35vh;
    background-color: rgb(72, 42, 54);
}

.Kocka_btn img{
    height: 142px;
    width: 280px;
    margin-left: 120px;
    position: relative;
    left: -50px;
}

.Footer_Konec_2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px grey solid;
    margin-left: 120px;
    width: 82vw;
}

.Socials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Socials_2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Cislo_Mail{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.icon{
    margin-left: 20px;
    font-size: 1.9em;
    text-decoration: none;
}

.Kontakt_2{
    font-size: 1.1em;
    margin: 10px 0px 0px 30px;
    color: rgb(253, 253, 253);
}

.fa-instagram{
    color: rgb(153, 147, 147);
}

.fa-facebook{
    color: rgb(153, 147, 147);
}

.fa-square-x-twitter{
    color: rgb(153, 147, 147);
}

.fa-youtube{
    color: rgb(153, 147, 147);
}

.fa-instagram:hover{
    color: #c13584;
    transition: 0.5s;
}

.fa-facebook:hover{
    color:rgb(64, 64, 218);
    transition: 0.5s;
}

.fa-youtube:hover{
    color: rgb(198, 55, 55);
    transition: 0.5s;
}

.fa-square-x-twitter:hover{
    color: black;
    transition: 0.5s;
}

.Konec{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.Konec_2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 72%;
    margin-top: 5px;
}

.Konec_2 a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

.Konec_2 a:hover{
    color: #c73085;
    transition: 0.2s;
    letter-spacing: 0.1em;
}

.Menu_Footer{
    margin-top: 5px;
}

.Copyright{
    font-size: 1.2em;
    color: white;
}

.fa-envelope{
    color: rgb(205, 210, 214);
    text-decoration: none;
    margin-right: 5px;
}

.fa-phone{
    margin-right: 5px;
}

.Udaje{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    text-align: left;
    margin-left: 30px;
    font-family: "Arbutus Slab", serif;
}   

.Udaje p{
    margin-top: 10px;
    font-size: 1.1em;
}

.Udaje_2{
    font-size: 0.8em;
}

#C_B_2{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.C_B_2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.Nadpis_con{
    text-align: start;
    margin-top: 20px;
    font-size: 2em;
}

.Zajem_1{
    color: rgb(202, 156, 19);
    text-shadow: 1px 1px 5px rgb(216, 33, 33);
    margin-left: 80px;
    width: 56vw;
}

.Zajem_2{
    font-size: 3em;
}

.contact{
    margin-top: 20px;
    color: white;
    font-size: 1.5em;
    margin-left: 60px;
}

.Kontaktování{
    margin-top: 45px;
}

.Zde_psat{
    font-size: 2.5em;
    color: rgb(202, 156, 19);
    text-shadow: 1px 1px 5px rgb(216, 33, 33);
}

.formulář{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.Kontakt_zde{
    height: 53vh;
    width: 33%;
}

input{
    padding: 15px 50px 18px 5px;
    margin-top: 15px;
    border-radius: 8px;
    background-color: rgba(128, 41, 41, 0.973);
    color: white;
    font-size: 0.9em;
    box-shadow: 0px 0px 8px 1px rgb(154, 91, 24);
    outline: none;
    transition: .5s;
    border: none;
}

input:focus{
    border: 0px solid red;
    box-shadow: 2px 3px 10px 0px orangered , -2px -3px 10px 0px orangered;;
    
}

textarea{
    padding: 10px 20px 65px 5px;
    margin-top: 15px;
    resize: none;
    border: none;
    border-radius: 10px;
    background-color: rgba(128, 41, 41, 0.973);
    color: white;
    font-size: 1.3em;
    outline: none;
    transition:.5s;
    box-shadow: 0px 0px 8px 1px rgb(154, 91, 24);
    
}

textarea:focus{
    border: 0px solid red;
    box-shadow: 2px 3px 10px 0px orangered , -2px -3px 10px 0px orangered;;
}

.Send_požadavek {
    position: relative;
    overflow: hidden;
    top: 15px;
    left: 8px;
    height: 3rem;
    width: 12vw;
    padding: 0 2rem;
    border-radius: 15px;
    border: 2px solid rgb(184, 66, 19);
    background:rgba(128, 14, 14, 0.8);
    color: #fff9f9;
    cursor: pointer;
}

.Send_požadavek::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(83.2deg, rgb(238, 28, 28) 10.8%, rgb(238, 103, 41) 94.3%);
    transition: transform 0.5s;
}

.Send_požadavek:hover::before {
    transform: scaleX(1);
}

.button_content {
    position: relative;
    z-index: 1;
    font-size: 1.5em;
    text-shadow: 5px 5px 10px rgb(222, 20, 20);
}

.menu-toggle {
    display: none;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    width: 30px;
    height: 25px;
    justify-content: space-between;
    position: relative;
    z-index: 1001;
}

.hamburger span {
    display: block;
    height: 3px;
    background: rgb(229, 226, 226);
    border-radius: 3px;
}

.menu-toggle {
    display: none;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    width: 30px;
    height: 25px;
    justify-content: space-between;
    position: relative;
    z-index: 1001;
}

.hamburger span {
    display: block;
    height: 3px;
    background: rgb(229, 226, 226);
    border-radius: 3px;
}

.Socials_mobile{
    display: none;
}

@media (max-width: 900px){

    .Contacts_background{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 229vh;
        background-color:rgb(56, 27, 38);
    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
        background: rgba(56, 27, 38, 1); /* Nastavit barvu pozadí pro header, pokud je potřeba */
        position: relative;
        top: -75px;
    }

    header img {
        height: 120px;
        width: 240px;
        top: 5px;
        left: -25px;
        position: relative;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        gap: 5px;
        position: relative;
        right: -20px;
        cursor: pointer;
        z-index: 1001;
    }

    .hamburger span {
        width: 30px;
        height: 3px;
        background-color: #fff;
        transition: 0.3s;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
        width: 68%;
        background: rgba(92, 43, 43, 0.8);
        position: fixed;
        top: 7px;
        right: -100%;
        height: 98vh;
        transition: 0.5s ease;
        z-index: 10;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
    }

    .navbar a {
        color: white;
        font-size: 1.5em;
        padding: 15px;
        text-decoration: none;
        display: block;
        transition: 0.5s;
        position: relative;
        top: -2px;
    }

    .navbar > a:hover {
        background-color: rgb(186, 99, 99);
    }

    .buttony::after {
        content: "";
        position: absolute;
        bottom: -5px;
        transition: 0.4s;
        height: 0px;
    }

    /* Zobrazení navbaru po rozkliknutí menu */
    .menu-toggle:checked ~ .navbar_bts .navbar {
        right: 0%; /* Po rozkliknutí se navbar posune zpět na pozici 0 */
    }

    .Vedoucí_restaurace{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .Footer_Konec {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Footer_Konec_2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        position: relative;
        left: -50px;
        width: 80vw;
    }

    .Kocka_btn img {
        height: 100px;
        width: 200px;
        position: relative;
        left: -40px;
        top: -12px;
    }

    .Socials {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Socials_2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .icon {
        margin-left: 13px;
        font-size: 1.8em;
        text-decoration: none;
        position: relative;
        right: 65px;
        top: 10px;
    }

    .Cislo_Mail {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        right: 105px;
        top: 8px;
        margin-right: 10px;

    }

    .Cislo_Mail p{
        font-size: 0.90em;
    }

    .button_pics{
        position: relative;
        left: -20px;
        top: 13px;
        font-size: 0.80em;
    }

    #button_pics_2{
        position: relative;
        top: 15px;
    }

    .Kontakt_2 {
        font-size: 0.80em;
    }

    .informace{
        font-size: 0.80em;
    }
    
    .Reservation_background {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: rgb(56, 27, 38); /* Zajistit, že pozadí bude správně */
    }

    body{
        overflow-x: hidden;
    }

    .Socials_mobile{
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }

    .fa-instagram:hover{
        color: #c13584;
        transition: 0.5s;
    }
    
    .fa-facebook:hover{
        color: rgb(64, 64, 218);
        transition: 0.5s;
    }

    .fa-square-x-twitter:hover{
        color: black;
        transition: 0.5s;
    }

    .fa-youtube:hover{
        color:rgb(198, 55, 55);
        transition: 0.5s;
    }

    .icon_2 i{
        color: white;
    }

    .Nadpis_1{
        font-size: 1.6em;
    }

    .Konec{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75vw;
    }

    .Konec_2{
        font-size: 0.96em;
    }

    .Mobile_rotate{
        position: relative;
        right: -15px;
        font-size: 0.96em;
    }

    .Socials_2 a{
        font-size: 1.5em;
    }

    .Fotka_V1, .Fotka_V2, .Fotka_V3{
        height: 270px;
        width: 288px;
        background-color: rgb(158, 149, 149);
        border-radius: 8px;
        box-shadow: 0px 0px 10px 4px black ;
        display: flex;
        flex-direction: column;
        position: relative;
        top: 50px;
        margin-left: 20px;
    }

    .Contacts_background_2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .C_B_2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Zajem_1{
        display: flex;
        flex-direction: row;
    }

    .Zajem_2{
        font-size: 1em;
    }

    .Kontakt_zde{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .Informace_1, .Informace_2, .Informace_3{
        text-align: center;
        color: aliceblue;
        margin-top: 70px;
    }

    .Udaje_2{
        font-size: 0.75em;
    }

    .Udaje p{
        font-size: 1.1em;
    }
}